package client

import "github.com/iypetrov/go-indie-hacking-starter/template"

templ Home() {
	@template.Base() {
		<div class="flex w-full h-screen">
			<h1 class="text-red-500">Hello world!</h1>
		</div>
	}
}
