package templates

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>go-indie-hacking-starter</title>
			<link href="/css/output.css" rel="stylesheet"/>
			<script src="/js/htmx.min.js"></script>
			<script src="/js/alpine.min.js"></script>
			<script src="https://js.stripe.com/v3/"></script>
		</head>
		<body>
			@Toast()
			<div class="relative md:flex font-primary w-screen min-h-screen">
				{ children... }
			</div>
		</body>
	</html>
}
