package templates

templ SmallLogo() {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="30"
		height="30"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="lucide lucide-square-terminal text-primary"
	>
		<path d="m7 11 2-2-2-2"></path>
		<path d="M11 13h4"></path>
		<rect width="18" height="18" x="3" y="3" rx="2" ry="2"></rect>
	</svg>
}

templ BigLogo() {
	<div class="flex flex-row justify-center items-center text-3xl space-x-2 font-bold">
		<h1 class="font-accent">go-indie-hacking-starter</h1>
	</div>
}
