package components

import "github.com/iypetrov/go-indie-hacking-starter/templates"

type LoginFormInput struct {
	Email    string `validate:"required,email"`
	Password string `validate:"required,min=8"`
}

templ LoginForm(input LoginFormInput, errs map[string]string) {
	<form
		autocomplete="off"
		class="flex flex-col items-center justify-center w-full"
	>
		<div class="w-full h-auto">
			<div class="flex flex-col w-full">
				<label
					for="Email:"
					class="label primary-content font-bold text-lg"
				>
					Email:
				</label>
				<input
					id="login-form-email"
					type="text"
					name="email"
					value={ input.Email }
					placeholder="Enter your email..."
					class="flex h-14 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
				/>
				if errs["Email"] != "" {
					<p class="text-error mt-1">
						{ errs["Email"] }
					</p>
				}
			</div>
			<div class="flex flex-col w-full">
				<label
					for="Password:"
					class="label primary-content font-bold text-lg"
				>
					Password:
				</label>
				<input
					id="login-form-password"
					type="password"
					name="email"
					value={ input.Email }
					placeholder="Enter your password..."
					class="flex h-14 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
				/>
				if errs["Password"] != "" {
					<p class="text-error mt-1">
						{ errs["Email"] }
					</p>
				}
			</div>
			<div class="flex items-center justify-center w-full mt-3">
				<button
					type="submit"
					hx-disabled-elt="this"
					class="btn btn-primary flex items-center justify-center text-slate-100"
				>
					@templates.Spinner() {
						<span>Login</span>
					}
				</button>
			</div>
		</div>
	</form>
}
